# MQTT Configuration
MQTT_BROKER=192.168.1.2
MQTT_PORT=1883
MQTT_USER=robot1
MQTT_PASSWORD=change_me
MQTT_TOPIC=exemple/capteur

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=robot1
MYSQL_PASSWORD=robot1pass
MYSQL_DATABASE=robot1
