# MQTT Configuration
MQTT_BROKER=192.168.1.3
MQTT_PORT=1883
MQTT_USER=nuc
MQTT_PASSWORD=nuc
MQTT_TOPIC=robot3/events

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=robot3
MYSQL_PASSWORD=robot3pass
MYSQL_DATABASE=robot3
